In [3]:
# import library
import pandas as pd
import numpy as np 
import matlab 
import matplotlib as plt
import os

In [5]:
# read the file
path = r'data\Morticd10_part'
mortality_data = pd.read_csv(path, low_memory=False)
mortality_data

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_29408\203526032.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  mortality_data = pd.read_csv(path)

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,NaN,NaN,2001,101,1000,1,7,8,332,...,95.0,NaN,NaN,NaN,NaN,0.0,8.0,NaN,NaN,NaN
1,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,112.0,NaN,NaN,NaN,NaN,0.0,11.0,NaN,NaN,NaN
2,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,5.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,6.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022012,4290,NaN,NaN,1998,10M,Y859,2,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1022013,4290,NaN,NaN,1998,10M,Y86,1,0,1,39,...,3.0,6.0,11.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1022014,4290,NaN,NaN,1998,10M,Y86,2,0,1,57,...,3.0,12.0,16.0,14.0,8.0,0.0,0.0,0.0,0.0,0.0
1022015,4290,NaN,NaN,1998,10M,Y870,1,0,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1022016,4290,NaN,NaN,1998,10M,Y872,1,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0