In [12]:
# import library
import pandas as pd
import numpy as np 
import matlab 
import matplotlib as plt
import os

In [17]:
# read the file
# mortality
mortality_path = r'data\Morticd10_part1.csv'
mortality_data_2002 = pd.read_csv(mortality_path, low_memory=False)
mortality_data_2002

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,NaN,NaN,2001,101,1000,1,7,8,332,...,95.0,NaN,NaN,NaN,NaN,0.0,8.0,NaN,NaN,NaN
1,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,112.0,NaN,NaN,NaN,NaN,0.0,11.0,NaN,NaN,NaN
2,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,5.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,6.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022012,4290,NaN,NaN,1998,10M,Y859,2,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1022013,4290,NaN,NaN,1998,10M,Y86,1,0,1,39,...,3.0,6.0,11.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1022014,4290,NaN,NaN,1998,10M,Y86,2,0,1,57,...,3.0,12.0,16.0,14.0,8.0,0.0,0.0,0.0,0.0,0.0
1022015,4290,NaN,NaN,1998,10M,Y870,1,0,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1022016,4290,NaN,NaN,1998,10M,Y872,1,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# population
pop_path = r'data\pop.csv'
pop_data = pd.read_csv(pop_path, low_memory=False)
pop_data.head()

,Country,Admin1,SubDiv,Year,Sex,Frmat,Pop1,Pop2,Pop3,Pop4,...,Pop18,Pop19,Pop20,Pop21,Pop22,Pop23,Pop24,Pop25,Pop26,Lb
0,1060,NaN,NaN,1980,1,7,137100.0,3400.0,15800.0,NaN,...,NaN,5300.0,NaN,2900.0,NaN,NaN,NaN,NaN,6500.0,5000.0
1,1060,NaN,NaN,1980,2,7,159000.0,4000.0,18400.0,NaN,...,NaN,6200.0,NaN,3400.0,NaN,NaN,NaN,NaN,7500.0,6000.0
2,1125,NaN,NaN,1955,1,2,5051500.0,150300.0,543400.0,NaN,...,110200.0,51100.0,41600.0,14300.0,11800.0,25300.0,NaN,NaN,0.0,253329.0
3,1125,NaN,NaN,1955,2,2,5049400.0,145200.0,551000.0,NaN,...,122100.0,51100.0,50700.0,15800.0,18000.0,28500.0,NaN,NaN,0.0,237901.0
4,1125,NaN,NaN,1956,1,2,5353700.0,158700.0,576600.0,NaN,...,116900.0,54100.0,44000.0,14900.0,12400.0,26600.0,NaN,NaN,0.0,250022.0

In [20]:
# country code
country_code_path = r'data\country_codes.csv'
country_code = pd.read_csv(country_code_path, low_memory=False)
country_code

     country             name
0       1010          Algeria
1       1020           Angola
2       1025            Benin
3       1030         Botswana
4       1035     Burkina Faso
..       ...              ...
222     5197            Samoa
223     5198  Solomon Islands
224     5200            Tonga
225     5205           Tuvalu
226     5207          Vanuatu

[227 rows x 2 columns]

In [27]:
# changes to the mortality data file, creating a new data frame with only the number of deaths and the population, country, year, deaths1 - deaths26, pop1 - pop 26, im_death
# creating the country code map 
country_code_map = {}
for index, rows in country_code.iterrows():
    country_code_map[rows['country']] = rows['name']

In [ ]:
# looping through the code map to locate each different countries
# condense the mortality and pop rate 
for key in country_code_map:
    temp_df = mortality_data_2002.loc['Country' == 1060]
    next